@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNextRegular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNextItalic.otf");
  font-style: italic;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNext/AvenirNextBold.otf");
  font-style: normal;
  font-weight: bold;
  font-display: block;
}

/* Global sizing */

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* Background for whole page */
  @apply bg-yellow-500;
}
